/* ================================
Global Stylesheet
Stylesheet: 'styles.css
=================================== */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

.mat-grid-tile-content {
  flex-direction: column;
  justify-content: flex-start !important;
}